
@{
    ViewBag.Title = "İletisim";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<h2>İletişim Bilgileri</h2>

<address>
    Doğa Tur<br />
    Eskibağlar, Mani Apt, Oğuz Sk. A Blok No:2 K:1 D:3, 26220 Tepebaşı/Eskişehir<br />
    <abbr title="Phone">P:</abbr>
    +90 111-1111111
</address>
<hr/>
<address>
    <strong>Bilgi:</strong>   <a href="mailto:Support@example.com">doga@dogatur.com</a><br />
    
</address>